[workspace]
channels = ["https://prefix.dev/conda-forge", "https://prefix.dev/motion-stack"]
name = "gogo_keyboard"
platforms = ["linux-64", "linux-aarch64"]
preview = ["pixi-build"]

[activation.env]
RMW_IMPLEMENTATION="rmw_fastrtps_cpp"

[dependencies]
python = ">=3.10"
sdl2 = ">=2.0.0"
sdl2_image = ">=2.0.0"

[pypi-dependencies]
gogo_keyboard = { path = ".", editable = true}

[tasks]
example = "python3 -m gogo_keyboard.example"

[environments]
jazzy = { features = ["jazzy"] }
zenoh = { features = ["zenoh"] }

[feature.jazzy.tasks]
ros_node = "python3 -m gogo_keyboard.ros_node"
ros_listener = "ros2 topic echo /key_press"

### ROS Jazzy ####
[feature.jazzy]
channels = ["https://prefix.dev/robostack-jazzy"]

[feature.jazzy.dependencies]
ros-jazzy-ros-core = "*"
ros-jazzy-rmw-zenoh-cpp = "*"

[feature.zenoh.tasks]
zenoh_node = "python3 -m gogo_keyboard.zenoh_node"
zenoh_listener = "python3 -m gogo_keyboard._zenoh_simple_listener"

[feature.zenoh]

[feature.zenoh.pypi-dependencies]
eclipse-zenoh = ">=1.0.0"

[package]
name = "gogo_keyboard"
version = "1.0.2"

[package.build]
backend = { name = "pixi-build-python", version = "==0.4.0" }

[package.host-dependencies]
setuptools = ">=58.2.0"

[package.run-dependencies]
gogo_keyboard = { path = "."}
python = ">=3.10"
asyncio_for_robotics = ">=1.3.1,<2"
pysdl2 = ">=0.9.0"
sdl2 = ">=2.0.0"
sdl2_image = ">=2.0.0"
